.cardContainer {
  align-items: center;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.cardName {
  display: flex;
  align-items: center;
  font-weight: 600;
  text-transform: capitalize;
}

.healthy {
  color: #a1d317;
  font-weight: 900;
}

.healthyBg {
  background-color: #a1d317;
}

.outage {
  color: #f53031;
  font-weight: 900;
}

.outageBg {
  background-color: #f53031;
}

.circle {
  margin-right: 6px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

@media (max-width: 550px) {
  .cardContainer {
    flex-direction: column;
    align-items: stretch;
  }
}
